<div>
    <form [formGroup]="timeForm">
        <tr>
            <td>Time</td>
            <td>
                <select formControlName="duration" (change)="setTime()">
                    <option *ngFor="let d of durationOption" [value]="d">{{d}}</option>
                  </select>
            </td>
        </tr>
    </form>
</div>

<div>
    <span *ngFor="let tagCount of tagCountArr">
        <button type="button" [routerLink]="['/tag', tagCount.tag]">{{ tagCount.tag }}({{ tagCount.count }})</button>
    </span>
</div>
